.detail-top-wrapper{
  font-size:80%;
}
.detail-container-top{
  background-color:hsl(0, 0%, 96%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  color:gray;
  width:100%;
}
.detail-top-box{
  text-align: center;
  z-index:1;
}
.detail-top-box h1{
  font-weight:normal;
}
.detail-wrapper{
  width:100%;
  background-color:hsl(0, 0%, 96%);
  text-align:center;
  color:#696969;
}
.detail-wrapper h1{
  font-weight:normal;
  font-family: 'Quicksand', sans-serif;
  padding-bottom:30px;
}
.detail-wrapper h2{
  font-weight:normal;
  font-family: 'Quicksand', sans-serif;
  padding-bottom:30px;
}

.detail-container{
  width: 60%;
  margin:auto;
  background-image:url(img/PAK86_komorebitohizashi_TP_V.jpg);
  background-size:cover;
  padding:150px 0px;
  border-radius:25px;
  margin-bottom:80px;
}
.detail-container-second{
  background-image:url(img/shiroTM620GFVL3424_TP_V.jpg);
}
.detail-description{
  background:rgba(255,255,255,0.7);
padding:50px 0px;
}
.detail-writer{
  margin:auto;
  width:50%;
}

.agreement-contents{
  padding:0px 0px;
  width:60%;
  margin:auto;
  background-color:white;
  border-radius:25px;
  background-image:url(img/mizuhoDSC_0325_TP_V.jpg);
  background-size:cover;
}
.agreement-contents h2{
  background-color:rgba(255,255,255,0.9);
  border-radius:23px 23px 0px 0px;
  padding:50px;
}
.agreement-contents table{
  font-family: 'Quicksand', sans-serif;
  margin:auto;
  border-collapse: collapse;
  border-collapse: separate;
  border-spacing: 30px;
  padding:120px 0px;
  /* border:solid 1px  gray; */
}
.agreement-contents tr td{
  padding:20px;
  /* border: solid 1px gray; */
  background:rgba(255,255,255,0.9);
  border-radius:100px;
}

.detail-work-wrapper{
  font-size:80%;

}
.detail-work-wrapper h1{
  font-weight:normal;
}
.work-container-top{
  /* background-color:hsl(0, 0%, 97%); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  color:gray;
  font-family: 'Quicksand', sans-serif;
  width:100%;
}
.work-top-box{
  padding: 20px;
  text-align: center;
  z-index:1;
}
/* スワイパー */

.work-swiper-container {
  width: 600px;
  height: 400px;
  margin:auto;
}
.work-swiper-button{
  color:gray;
}
.work-slide-item{
  width: 600px;
  height: 400px;
  color:black;
  text-align: center;
  background-size: contain;
}
.work-slide-item img{
  width:300px;
  height:300px;
  border-radius:20%;
  padding-top:20px;
  padding-bottom:20px;
}

.work-slide-item img:nth-child(1){
    
}
.work-slide-item:nth-child(2){
 
}
.work-slide-item:nth-child(3){

}
