.personnel-top-wrapper{
  font-size:70%;
}
.personnel-container-top{
  background-color:hsl(0, 0%, 97%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  color:gray;
  font-family: 'Quicksand', sans-serif;
  width:100%;
}
.personnel-top-box{
  padding: 20px;
  text-align: center;
  z-index:1;
}
.personnel_intro{
  background-color:hsl(0, 0%, 97%);
  padding-top:10px;
  margin-bottom:100px;
}
.personnel-top-wrapper h1,h2{
  font-weight:normal;
}


.personnel_member{
  background-color:hsl(0, 0%, 97%);
  padding-top:0px;
  height:1000px;
  background-image:url(img/thiramscafe.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}
.personnel_member_second{
  height:1000px;
  background-image:url(img/thramis.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}
.personnel_member_therd{
  height:1000px;
  background-image:url(img/thiramscafe.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}
.personnel_member_fourth{
  height:1000px;
  background-image:url(img/thramis.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}
.personnel_writer{
  text-align:center;
  width:35%;
  height:100%;
  color:whitesmoke;
  background: rgba(0, 0, 0, 0.8);
  margin:auto;
  padding-top:80px;
}
.personnel_writer img{
  width:30%;
  border-radius:100%;
  padding-top:20px;
  padding-bottom:20px;
}
.personnel_description{
  width:60%;
  margin:auto;
}
/* スワイパー */
.personnel-swiper-container {
  width: 600px;
  height: 500px;
  margin:auto;
}
.personnel-swiper-button{
  color:gray;
}
.personnel-slide-item{
  width: 600px;
  height: 400px;
  color:black;
  text-align: center;
  background-size: contain;
}
.personnel-slide-item img{
  width:150px;
  border-radius:20%;
  padding-top:20px;
  padding-bottom:20px;
}

/* 自動スクロール */
  .move-text-wrapper{
    background-color:whitesmoke;
    height:540px;
  }
  .promis{
    font-size:18px;
    color:whitesmoke;
    text-align:center;
    padding:20px;
    background-color:rgba(46,139,87,0.7);
    border-bottom: 1px solid #CCC;
  }
  #text-move-Box {
    width: 600px;
    height: 420px;
    margin:auto;
    overflow: hidden;
    
    background-image:url(img/pangreen600-420.jpg);
    color:#333333	;
    text-align: center;
    line-height: 1.5em;
    font-size: 16px;
    /* border: 1px solid gray;
    border-radius: 10px; */
  }
  #text-move {
    margin: 440px 0;
    text-align:left;
    background-color:rgba(255, 255, 255, 0.8);
  }
