/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
  .header-right{
    display:none;
  }
  
}

/* スマホ向けレイアウト */
@media all and (max-width: 670px) {
  .header-right{
    display:none;
  }
  .header-logo{
    height:50%;
    width:50%;
    text-align:center;
    /* padding-top:25px; */
    margin-left:10px;
    float:none;
  }
  .header-left h1{
    font-size:18px;
    font-weight:normal;
    letter-spacing:0.1em; 
    top:70px;
    left:120px;
  }
  .top-box{
    font-size:80%;
  }
  /* ここからメイン */
    .main-container{
      padding:45px 0px;
      width:80%;
    }

    .main-contents_left{
      margin-right:100px;
    }
    .main-contents_left img{
      top:30px;
      left:95%;
      width:160px;
    }
    .main-contents_right{
      margin-left:100px;
    }
    .orange-logo-pc{
      display:none;
    }
    .orange-logo-mv{
      display:block;
      width:120px;
      float:right;
    }
    .main-contents_right img{
      position: absolute;
      top:30px;
      right:110%;
      width:100px;
    }
    .main-contents h2{
      font-size:11px;
    }
    .main-contents p{
      font-size:10px;
    }
    /* ここまでメイン */

    /* ここからフッター */
    button {
      width:120px;
      padding:10px 0px;
    }
    .btn-wrapper h3{
      font-size:16px;
    }
    footer{
      font-size:40%;
    }

}


